<our-modal class="list-location-modal" close="closeModal">
  
  <location-list listLocation="closeModal" />
  
  <a class="btn btn-default btn-right" href="#" role="button" {{action "closeModal"}}>Cancel</a>
</our-modal>