<our-modal class="new-location-modal" close="closeModal">
  <h1> I am the new location modal</h1>
  <location-form locationCreated="closeModal" />
  <a class="btn btn-default" href="#" role="button" {{action "closeModal"}}>Cancel</a>
</our-modal>