<our-modal class="new-company-modal" close="closeModal">
  <h1> I am the new company modal</h1>
  <company-form locationCreated="closeModal" />
  
  <a class="btn btn-default" href="#" role="button" {{action "closeModal"}}>Cancel</a>
</our-modal>