<!-- the table below should be constructed from actual location data. This is just a stub to give you an idea of how it should look -->

<div class="panel panel-default">
  <div class="row">
    <!-- list each location here. It can look just like jobs if you want. You can make it look any way
         you like. It just has to be a list of locations with showing address, city, state, and zip code. -->
  </div>
</div>