<div class="container">
<div class="page-header"><center>Locations</center></div>
<ul style="list-style-type:none">
{{#each jobs as |job|}}
   <li >

    <div class='col-md-3 col-md-offset-3' >
     
        {{job.location.address}}
      &nbsp;
       {{#link-to 'job' job}}
       {{job.location.city}}
       {{/link-to}}
    </div>
    <div class='col-md-3'>
      {{job.location.state}}
    </div>
    <div class='col-md-3'>
      {{job.location.zipcode}}
    
    
     
    </div>

  
  </li>
{{/each}}
</ul>
</div>