<div class='nav'>

  <div class='nav-left'>
  <div class="thumbnail">
    {{#link-to 'index'}}
      <img id='logo' src='/ember_logo.png' alt='ember'>
    {{/link-to}}
  </div>
</div>
  <div class='nav-center'>
  <div class="page-header">
    <h1> JOB BOARD </h1>
  </div>
  </div>
  <div class="nav-right">
  
  <ul class="nav nav-pills">
     <li role="presentation" class="active"><button class='btn btn-default' id="create-location" {{action 'locationButtonClicked'}}> Create Location </button></li>
    <li role="presentation"><button class='btn btn-default' id="create-company" {{action 'companyButtonClicked'}}> Create Company </button></li>
    <li role="presentation"><button class='btn btn-default' id="post-job" {{action 'buttonClicked'}}> Post a Job </button></li>
   {{#link-to 'admin.index'}}
      Admin
    {{/link-to}}
    </ul>
  </div>

</div>
