<div class="page-header">
<h1 id='title'> Most Recent Postings </h1>
</div>
<job-search search={{search}}
            types={{types}}
            value={{type}}
            searchChanged="searchChanged"
            jobTypeChanged="jobTypeChanged" />

<job-list jobs={{filteredJobs}} />
<job-ad postJob='postJob' class='card ad' />
